{{- $email := default (promptString "email") (env "GITPOD_GIT_USER_EMAIL") -}}
{{- $gpgSigningKey := promptString "GPG Signing Key" -}}

[data]
    email = {{ $email | quote }}
[data.gpg.signing]
    key = {{ $gpgSigningKey | quote }}
