[http]
	postBuffer = 524288000
	maxRequestBuffer = 100M
[user]
{{- $signingKey := dig "gpg" "signing" "key" false . -}}
{{- if $signingKey -}}
        signingKey = {{ $signingKey | quote }}
{{- end -}
	name = Oli Dacombe
	email = {{ .email }}
{{- if $signingKey -}}
[commit]
	gpgSign = true
{{- end -}}
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
[gpg]
	program = gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[pull]
    rebase = true
{{ if eq .chezmoi.os "darwin" -}}
[credential]
    helper = osxkeychain
{{ end -}}
