#!/usr/bin/env bash

set -euo pipefail

sudo tee /etc/udev/rules.d/99-xppen.rules <<EOF
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="28bd", ATTR{idProduct}=="095a", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}+="xppen.service"
EOF

# vim: set ft=sh :
